<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink="list"><strong>List Ticket</strong></a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink="add"><strong>Add Ticket</strong></a>
      </li>
    </ul>
  </div>
</nav>

<div class="d-flex justify-content-center">
  <h1>Ticket Manipulation</h1>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
